<html ng-app>
    <head>
    	<meta charset="utf-8">
        <title>Lista de compras</title>
        <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    </head>
    <body>
        <div ng-controller="appController">
            <button ng-click="getData()">Buscar Dados</button>

            <h2 ng-show="names.length>0">Nomes</h2>

            <ul>
                <li ng-repeat="name in names">
                    {{name.nome}}
                </li>
            </ul>
		</div>
    </body>
    <script type="text/javascript">
    	function appController($scope, $http){

            $scope.names = Array();

            $scope.getData = function(){
                //$http({method: 'JSONP', url: 'http://pdi.pti.org.br/habitantes/telefones?nome=everton'})
                var url = "http://pdi.pti.org.br/habitantes/telefones?nome=everton";
                $http.jsonp(url){
                delete $http.defaults.headers.common['X-Requested-With'];
                    
                    $http.get(url).success(function(data){
                        //$scope.pessoaList = data.pessoaList;
                        $scope.names = data.pessoaList;
                        console.log($scope.names.nome);
                    });
            }
    		
    	}
    </script>
</html>