<html ng-app>
    <head>
    	<meta charset="utf-8">
        <title>Lista de compras</title>
        <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    </head>
    <body>
    	<input type="text" ng-model="nome">
        <p>Olá, Tableless! Meu nome é: {{ nome }}</p>

        <div ng-controller="ListaComprasController">
		    <table>
		      <thead>
		        <tr>
		          <th>Produto</th>
		          <th>Quantidade</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="item in itens">
		          <td><strong>{{ item.produto }}</strong></td>
		          <td>{{ item.quantidade }}</td>
		        </tr>
		      </tbody>
		    </table>

		    <form class="form-inline" name="formItem">
			  <input type="text" ng-model="item.produto">
			  <input type="number" ng-model="item.quantidade">
			  <button ng-click="adicionaItem()">adicionar ítem</button>
			</form>
		</div>
    </body>
    <script type="text/javascript">
    	function ListaComprasController($scope){
    		$scope.itens = [
    			{produto: 'Leite', quantidade: 2, comprado: false},
    			{produto: 'Cerveja', quantidade: 3, comprado: true}
    		];

    	 	$scope.adicionaItem = function () {
        		$scope.itens.push({produto: $scope.item.produto,
                	    quantidade: $scope.item.quantidade,
                        comprado: false});
        	$scope.item.produto = $scope.item.quantidade = '';
    		};
    	}
    </script>
</html>